@charset "UTF-8";

@font-face {
  font-family: 'font';
  src: url("../font/优设标题黑_猫啃网.ttf");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}


/* 导航 */

.guide{
  width: 100%;
  height: 60px;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(13px);
  position: fixed;
}

.logo{
  width: 1000px;
  height: 100%;
  position: absolute;
  left: 5%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

body .logo img {
  width: 65px;
  height: 45px;
  border-radius: 50%;
}

body .logo span {
  width: 800px;
  font: 100 22px 'font';
  letter-spacing: 2px;
}

.a{
  width: 200px;
}

.a2{
  width: 250px;
}



/* header */
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #a1e6ff, #a1e6ff);
  height: 450px;
}

.header img {
  width: 500px;
  height: 500px;
  position: relative;
}

.header h2 {
  font: 100 60px '';
  margin-bottom: 20px;
  font-family: font;
  letter-spacing: 5px;
  border-bottom: 2px solid rgb(134, 134, 118);
  color: #ffffff;
}

.header p {
  font: 100 30px '';
  letter-spacing: 5px;
}

.h-b {
  display: flex;
  justify-content: space-evenly;
  width: 90%;

}

.h-b p {
  color: #fff;
  margin-bottom: 10px;
}

.h-b-l,
.h-b-r {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* container */

.container{
  width: 100%;
  display: flex;
  margin-top: 30px;
  border: 3px rgba(0, 0, 0, 0.187) solid;
  padding: 20px;
}

.box-left .top{
  width: 30%;
}

/* box-left */

.top{
  display: flex;
}

.below{
  display: flex;
}

.box-left .top{
  position: sticky;
  position: -webkit-sticky;
  align-items: center;
  top: 100px;
}

.below{
  position: sticky;
  position: -webkit-sticky;
  align-items: center;
  top: 400px;
}

.box-left{
  border-radius: 15px;
}


/* box-container */

.box-container{
  margin-left: auto;
  margin-right: auto;
  width:70%;
  background-color: #fff;
}


/* box1 */
.box1{
  width:95%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;

  display: flex;
  border: 1px rgba(0, 0, 0, 0.187) solid;
  background-image: linear-gradient(to bottom, #a1e6ff, #a1e6ff);
  padding: 10px;
  border-radius: 15px;
}

.box1 img{
  width: 200px;
  height: 200px;

  border-radius: 15px;
}

.left1{
  height: 200px;
  border-radius: 15px;
}

.right1{
  margin-left: 20px;
  border-radius: 15px;
}


/* box2 */
.box2{
  width: 95%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;

  display: flex;
  align-items: flex-end;
  border: 1px rgba(0, 0, 0, 0.187) solid;
  background-image: linear-gradient(to bottom, #a1e6ff, #a1e6ff);
  padding: 10px;
  border-radius: 15px;
}

.box2 img{
  width: 200px;
  height: 200px;

  border-radius: 15px;
}

.right2{
  margin-right: 20px;
  border-radius: 15px;
}

.left2{
  height: 200px;
  border-radius: 15px;
}

/* box3 */
.box3{
  width:95%;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  

  display: flex;
  border: 1px rgba(0, 0, 0, 0.187) solid;
  background-image: linear-gradient(to bottom, #a1e6ff, #a1e6ff);
  padding: 10px;
  border-radius: 15px;
}

.box3 img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.left3{
  border-radius: 15px;
}

.right3{
  margin-left: 20px;
  border-radius: 15px;
}
